@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Order Processing Workflow</h1>
        <form id="payment-form">
            <div class="col-6">
                <label for="payment-type">Payment Type</label>
                @Html.DropDownList("Payment Type", new SelectList(ViewBag.ProductList, "ProductID", "ProductName"), new { id = "payment-type", @class = "form-control" })

            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-primary" value="Make Payment" />
            </div>
        </form>
    </div>

<div class="row" id="payment-process-status">
    
</div>
<script type="text/javascript">
    $(function () {
        $('#payment-form').submit(function () {
            var paymentType = $('#payment-type').val();
            $.ajax({
                url: "/Home/ProcessPayment?paymentType=" + paymentType,
                type: "GET",
                success: function (result) {
                    if (result != null) {
                        for (var i = 0; i < result.length; i++) {
                            $('#payment-process-status').html('<p class="text-success">'+result.text+'</p>')
                        }
                    }
                },
                error: {

                }
            });
        });
    });
</script>

