@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Order Processing Workflow</h1>
        <form id="payment-form">
            <div class="col-6">
                <label for="payment-type">Payment Type</label>
                @Html.DropDownList("Payment Type", new SelectList(ViewBag.ProductList, "ProductID", "ProductName"), new { id = "payment-type", @class = "form-control" })

            </div>
            <div class="col-6">
                <a href="#" class="btn btn-primary" id="make-payment">Make Payment</a>
            </div>
        </form>
    </div>

<div class="row" id="payment-process-status">
    
</div>
<script type="text/javascript">
    $(function () {
        $('#make-payment').click(function () {
            var productType = $('#payment-type').val();
            var productName = $("#payment-type option:selected").text();
            $.ajax({
                url: "/Home/ProcessPayment?productType=" + productType + "&productName=" + productName,
                type: "GET",
                success: function (result) {
                    console.log(result);
                    if (result != null) {

                        for (var i = 0; i < result.length; i++) {
                            $('#payment-process-status').append('<p class="text-success">' + result[i].text + '</p>');
                        }
                    }
                },
                error: {

                }
            });
        });
    });
</script>

